  *{
        margin:0px;
        padding:0px;
        }
    .container{
       background-color:rgba(1, 16, 16, 0.784);
       color:white
    }
.navbar {
    display: flex;
    align-items: center;
    background-color: #05182b; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.nav-title {
    font-size: 28px;
    font-weight: bold;
    color: #ded6d6;
    margin: 0;
}
.nav-title:hover{
     color:rgb(172, 208, 231);
}
    .hover-play-video {
      width:300px;
      display:block;
      height: auto;
      margin-bottom:20px;
      border: 1px solid white;
      transition: 0.2s ease-in-out;
    }
    .hover-play-video:hover{
        transform: scale(1.1);
    }
    .mid{
        padding:20px;
    }
    .mid-h1,.mid-h1-1{   
        text-align:center;
        transition: 0.3s ease-in-out;
    }
    .mid-h1:hover{
        color:rgb(172, 208, 231);
        transform: scale(1.05);
    letter-spacing: 1px;
    }
     .mid-h1-1:hover{
        color:rgb(172, 208, 231);
        transform: scale(1.00);
    letter-spacing: 1px;
    }
    .fing{
        width:30%;
        border:5px solid red;
        margin:20px;
    }
    .i{
        padding:10px;
        margin:20px;
        display:grid;
        grid-template-columns:auto auto;
    }
    p{
    font-size:larger;
    }
#btn{
    width:100px;
    height:60px;
    border-radius: 10px; 
    background-color:aquamarine;
    position:relative;
    left:60px;
    bottom:15px;
    transition: 0.2s ease-in-out;
}
#btn:hover{
    background-color:rgba(5, 250, 250, 0.732);
    transform: scale(1.04);
    color:white;
}
footer{
    display:flex;
}
